* {
  margin:0;
  padding:0;
}

html {
  background: #eee;
}

body {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, .25);
  margin: 0 160px;
  background-image: url('bg.jpg');
  height: 883px;
  width: 960px;
  border: 2px double #999;
}

.header {
  height: 202px;
}

.logopalm {
  width: 50%;
  float: left;
}

.logopalm img {
  padding-left: 70px;
  padding-top: 49px;
}

.contacts {
  width: 50%;
  float: right;
}

.contacts ul {
  float: right;
  padding-top: 144px;
  padding-right: 84px;
  font-family: Tahoma;
  color: #e6e6e6;
  list-style-type: none;
  text-align: left;
}

.big {
  font-size: 12px;
}

.small {
  font-size: 8px;
}

.content {
  height: 450px;
}

.fline {
  padding: 0 70px;
}

.fline img {
  border: 3px double #b2b2b2;
  margin-right: 8px;
  width: 256px
}

.country ul {
  padding: 0 69px;
  list-style-type: none;
  color: #e6e6e6;
  font-family: Tahoma;
  font-size: 15px;
}

.country li {
  display: inline-block;
  text-align: center;
  width: 261px;
}

.sline {
  padding: 50px 70px 0;
}

.sline img {
  border: 3px double #b2b2b2;
  margin-right: 8px;
  width: 256px
}

.footer {
  height: 231px;
}

.copyright {
  padding-left: 380px;
  padding-top: 182px;
}
.copyright p {
  font-family: Tahoma;
  color: #e6e6e6;
  font-size: 12px;
}
