@import 'variables';


body {
  font: 100% $font-stack;
  color: $primary-color;
}

h1 {
  color: $primary-color;
}

//вложенности:
.menu {
  position: relative;
  overflow: hidden;
  padding: 20px;
  display: block;
  border: 2px solid black;
  @include border-radius(10px);

  li {
    float: left;
    list-style: none;
    padding: 20px;
  }
  a {
    color: $green;
  }
}
