* {
  margin: 0;
  padding: 0;
}


body {
    background: #F0EFE7;
    margin: 0;
    padding: 0;
    font: 15px/1.5 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #4E443C;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arvo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: normal;
  text-rendering: optimizelegibility;
}

h1 {
    color: #4E443C;
    font-size: 30px;
    font-weight: bold;
}

h2, h2 a {
    color: #F14E32;
}

h3, h3 a {
  color: #0388A6;
}

a {
  color: #0388A6;
}

pre {
  border:1px solid #000;
  overflow-x:auto;
  background: #222;
  color: #fff;
  text-shadow: none;
}

.wrapper {
    background: #36aa36;
    max-width: 720px;
    padding: 20px 40px 20px;
    margin: auto;
}

/*DROPDOWN*/


.mainmenu-wrapper {
  margin: 20px auto;
  background: #e87c7c;
  box-sizing: border-box;
  border: 11px solid white;
  border-radius: 6px 6px;
  padding: 4px;
  width: 620px;
  height: 400px;
  color: black;
}

.mainmenu {
  width: 100%;
  box-sizing: border-box;
  margin: 0 0 50px;
}

.mainmenu a:hover,
.mainmenu a:active,
.mainmenu a:focus {
  color: #000;
}

.menu {
  width: 100%;
  font-family: 'Calibri', sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.5;
  color: #000;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

.menu li {
  display: block;
  float: left;
  position: relative;
  height: 32px;
  width: 19.66%;
  margin: 0 1px;
  box-sizing:border-box;
  box-shadow: 1px 1px 1px #666;
  border: 2px solid white;
  border-radius: 4px 4px;
  background-color: red;
}

.dropdown {
  position: relative;
}

.menu a {
  display: block;
  float: left;
  text-decoration: none;
  color: #fff;
  line-height:32px;
  margin: 0 5px;
}

.submenu {
  display: none;
  width: 116px;
  position: absolute;
  top: 31px;
  left: 0;
}

.submenu li {
  width: 116px;
}

.arrow-right {
  position: absolute;
  left: 102px;
  top: 14px;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 6px solid white;
}

.submenu a {
  text-decoration: none;
}

.inner {
  position: absolute;
  top: -6px;
  left: 112px;
}

.collapse li {
  background-color: blue;
  transition: all 800ms ease-in-out;
}

.collapse li:hover {
  background-color: black;
  transition: all 600ms ease-in-out;
  transform: scale(1.05);
}

.collapse li:hover .inner {
  transform: scale(0.95);

}

/*SELECT*/

.select-wrapper {
  margin: 20px auto;
  background: orange;
  box-sizing: border-box;
  border: 11px solid white;
  border-radius: 6px 6px;
  padding: 0 4px 4px;
  width: 620px;
  color: black;
}

#myselect {
  background: #12b9cb;
}

/* CHECKBOX */

.checkbox-wrapper {
  margin: 20px auto;
  background: #99CCFF;
  box-sizing: border-box;
  border: 11px solid white;
  border-radius: 6px 6px;
  padding: 0 4px 4px;
  width: 620px;
}

.niceCheck{
	display: inline-block;
	width: 17px;
	height: 17px;
	background: url('../img/checkbox-sprite.png')no-repeat;
	cursor: pointer;
	overflow: hidden;
}

.niceCheck input {
	display: none;
}

.niceChecked {
	background-position: 0 -17px;
}

.niceCheckDisabled {
	background: url('../img/checkbox-disabled.png');
  display: inline-block;
  width: 17px;
  height: 17px;
  cursor: pointer;
  overflow: hidden;
  background-position: 0 -17px;
}

.niceCheckDisabled input {
	display: none;
}

/* CSS CECKBOX */

.cssCheckbox input[type=checkbox] {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}

.cssCheckbox label {
	cursor: pointer;
}

.cssCheckbox label:after {
	content: " ";
	display: inline-block;
	width: 17px;
	height: 17px;
	background: url('../img/checkbox-sprite.png');
	position: relative;
	top: 3px;
	margin-left: 15px;
}

.cssCheckbox input[type=checkbox]:checked + label:after {
  background-position: 0 -17px;
}

.cssCheckbox label:hover:after {
  background-position: 0 -34px;
}

.cssCheckbox input[type=checkbox]:checked + label:hover:after {
  background-position: 0 -51px;
}
