* {
  margin: 0;
  padding: 0;
  }

body {
  background-color: rgba(0, 0, 0, .1);
  margin: 5px 50px 0 0;
  }

.profile {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, .25);
  margin: 0 auto;
  padding: 55px 50px 70px 50px;
  color: black;
  height: 750px;
  width: 516px;
  background-color: white;
  font-size: 16px;
  }

p {
  padding-bottom: 8px;
  }

h2 {
  font-size: 18px;
  text-align: center;
  padding-bottom: 15px;
  }

img {
  margin: 0 auto;
  display: block;
  }

.padding_top {
  padding-top: 25px;
  }

.main_padding {
  padding: 25px 0 0 25px;
  }

.padding_left  {
  padding-left: 10px;
  }

.border {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  }
