@font-face {
  font-family: MyriadPro-Regular;
  src: local ("MyriadPro-Regular");
  src: url(MyriadPro-Regular.otf);
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  font-family: MyriadPro-Regular;
  transition: 1s;
}

body {
  background: #f9f9f9;
}

.body {
  margin: 0 160px 0 160px;
  width: 1060px;
  background-color: #ffffff;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.25);
}

.bodymain {
  margin: 0 auto;
  padding-bottom: 62px;
  width: 966px;
}

.header {
  padding-top: 50px;
}

.menu {
  margin-top: 40px;
  list-style: none;
  background: linear-gradient(to top, #5e5e5e, #444343);
  overflow: hidden;
}

.menu a {
  display: block;
  padding-top: 12px;
  width: 100px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.menu li {
  float:left;
  height: 40px;
  width: 144px;
}

.menu a:hover {
  background: linear-gradient(to top, #4a4a4a, #2e2e2e);
  border-left: 1px solid #838383;
  border-right: 1px solid #838383;

}

.container {
  min-height: 680px;
  margin-top: 40px;
}

.sidebar {
  float: left;
  width: 240px;
}

.sidebar ul {
  display: block;
  list-style: none;
  height: 240px;
  width: 239px;
  border-bottom: 1px solid #c8c8c8;
  border-left: 1px solid #c8c8c8;
  border-right: 1px solid #c8c8c8;
}

.sidebar li {
  display: block;
  border-top: 1px solid #c8c8c8;
  height: 39px;
}

.sidebar a {
  display: block;
  padding: 10px 0 10px 24px;
  font-weight: normal;
  text-align: left;
  color: #656363;
}

.sidebar a:hover {
  transition: 1s;
  padding-left: 35px;
  background: #e5e5e5;
}

.content {
  float:right;
  width: 680px;
}

.veloimg {
  height: 307px;
  width: 500px;
  padding: 56px 88px 50px 90px;
  border: 1px solid #c8c8c8;
}

.textblock {
  padding: 40px 23px;
}

.footer {
    display: block;
    height: 40px;
    background-color: #e1e1e1;
}

.footer li {
    display: inline-block;
    list-style: none;
    margin-right: 40px;
}
.footer a {
    display: inline-block;
    width: 100px;
    text-decoration: none;
    padding: 11px 0;
    font-size: 14px;
    color: #373737;
    text-align: center;
}

.footer a:hover {
    text-decoration: underline;
}

.copyright {
    display: inline-block;
    padding: 11px 0;
    float: right;
    font-size: 14px;
    color: #373737;
    text-align: right;
}
