@import 'variables';
//переменные:
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'Montserrat-bold';
    src: url('../fonts/Montserrat-Bold.ttf');
    font-weight: bold;
}

@font-face {
  font-family: 'Montserrat-regular';
    src: url('../fonts/Montserrat-Regular.ttf');
    font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
    src: url('../fonts/Roboto-light.ttf');
    font-weight: normal;
}

@media (max-width: 320px) {

body {
  max-width: 320px;
  height: 3905px;


  h1 {
    display: block;
    height: 35px;
    width: 100%;
    font-family: 'Montserrat-bold';
    font-size: 22px;
  }

  .clearfix {
    display: block;
    clear: both;
    content: '';
  }

  .header {
  width: 320px;
  height: 540px;
  background: url('../img/block1.jpg') no-repeat center;
  border-radius: 2px 2px;

    .login {
      height: 66px;
      width: 200px;
      padding: 0 60px;
      opacity: 1;
      display: block;
      float: left;

      .login_button {
        display: block;
        float: left;
        margin-top:21px;
        height: 36px;
        width: 87px;
        background: rgba(255, 255, 255, 0);
        border: rgba(255, 255, 255, 0.5);
        border-radius: 16px 16px;
        color: white;
        outline: none;
        text-align: center;
        font-family: 'Montserrat-bold';
        font-size: 14px;
      }

      .login_button:active,
      .login_button:focus,
      .login_button:hover {
        border: 2px solid white;
        border-radius: 16px 16px;
        outline: none;
        background: rgba(255, 255, 255, 0);
        cursor:pointer;
        transition: all 0.3s ease-in;
      }
    }

    .header_textblock {
      display: block;
      padding-top: 86px;
      height: 277px;
      width: 320px;
      text-align: center;
      color: #f6f6f6;
    }

    .header_button {
      display: block;
      margin: 0 auto;
      height: 40px;
      width: 280px;
      background: #fe4e50;
      color: #f8ffff;
      font-family: 'Montserrat-bold';
      font-size: 14px;
      border: none;
      border-radius: 20px 20px;
    }

    .header_button:focus,
    .header_button:active,
    .header_button:hover {
      outline: none;
      background: #d96769;
      cursor: pointer;
    }

    h1 {
      font-size: 30px;
      margin-top: 6px;
    }

    h2 {
        padding-top: 87px;
        font-size: 21px;
    }

    h5 {
      margin-top: 11px;
      font-family: Tahoma, sans-serif;
      font-size: 18px;
      font-weight: normal;
    }
  }

  .sectionhigh {
    width: 320px;
    height: 814px;
    padding-top: 35px;

    h1 {
      margin: 0 16px;
    }

    .steps {
      width: 300px;
      height: 740px;
      margin: 0 auto;

      .step_item {
        width: 300px;
        height: 240px;
        margin: 7px 0 9px;

      }

      .step1 {
        background: url('../img/block2.jpg') no-repeat bottom;

      }

      .step2{
        background: url('../img/block3.jpg') no-repeat center;
      }

      .step3{
        background: url('../img/block4.jpg') no-repeat center;
      }

      .step_wrapper {
        background-color: rgba(0,0,0,0.25);
        height: 100%;
        width: 100%;
      }

      .step_content {
        display: block;
        float: left;
        position: relative;
        margin: 20px;
        height: 200px;
        width: 260px;
        color: #f6f6f6;
      }

      .step_button {
        height: 20px;
        width: 70px;
        border-radius: 10px 10px;
        background: #fe4e50;
        color: #f8ffff;
        border: none;
        font-family: 'Montserrat-regular';
        font-size: 10px;
        letter-spacing: 3px;
        margin: 49px 0 0 3px;
      }

      .button2 {
        margin: 80px 0 0 3px;
      }

      .step_button:focus,
      .step_button:active,
      .step_button:hover {
        background: #d96769;
        outline: none;
        cursor: pointer;
      }

      h1 {
        margin: 15px 0 0;
        font-size: 24px;
      }

      span {
        font-family: 'Roboto';
        font-size: 14px;
        position:absolute;
        bottom:0;
        line-height: 15px;
      }
    }
  }

  .sectionmiddle {
    width: 320px;
    height: 1090px;

    h1 {
      text-align: center;
    }

    .partners {
      height: 940px;
      margin-top: 32px;

      .partners_item {
        height: 229px;
      }

      .partner3 {
        margin-top: 33px;
      }

      .partners_photo {
        height: 123px;
        width: 123px;
        margin: 0px auto;
        background: url('../img/sprite.png');
        position: relative;

        .partners_icon {
          position: absolute;
          top: 86px;
          left: 83px;
          height: 43px;
          width: 43px;
          background: url('../img/sprite_mini.png');
        }

          .icon1 {
          background-position: 0px 0px}
          .icon2 {
          background-position: 0px -229px}
          .icon3 {
          background-position: 0px -491px}
          .icon4 {
          background-position: 0px -719px}

      }

      .photo1 {
        background-position: 0px 0px;
      }

      .photo2 {
        background-position: 0px -228px;
      }

      .photo3 {
        background-position: 0px -491px;
      }

      .photo4 {
        background-position: 0px -719px;
      }

      .partners_info {
        height: 100px;
        width: 320px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 14px;

        .partners_name {
          font-family: 'Montserrat-bold';
          font-size: 14px;
          margin-top: 3px;
        }
        .partners_text {
          font-family: 'Roboto';
          font-size: 14px;
          margin-top: 11px;
          line-height: 17px;
        }
      }
    }

    .otherpartners {
      height: 60px;
      width: 320px;
      padding-top: 10px;

      .see {
        display: block;
        margin: 0 auto;
        height: 40px;
        width: 280px;
        background: #fff;
        color: #ff4e50;
        font-family: 'Montserrat-bold';
        font-size: 14px;
        border: 1px solid #ff4e50;
        border-radius: 20px 20px;
      }

      .see:focus,
      .see:active,
      .see:hover {
        outline: none;
        cursor: pointer;
      }
    }
  }

  .sectionlow {
    height: 1100px;
    width: 320px;

    h1 {
    text-align: center;
    height: 55px;
    }
    .activities {
      height: 910px;
      width: 320px;

      .grid-item {
        margin: 10px auto 0;
        width: 300px;
        height: 121px;
        border-radius: 5px;
        text-align: center;
        line-height: 120px;
        font-size: 22px;
        color: #f6f6f6;
        font-family: 'Montserrat-bold';
      }

      .grid1 {
        background: url('../img/sport.jpg') no-repeat center;
        background-position: -3px -31px;
      }

      .grid2 {
        background: url('../img/wellness.jpg') no-repeat center;
        background-position: -1px -125px;
      }

      .grid3 {
        background: url('../img/extreme.jpg') no-repeat center;
        line-height: 58px;
        background-position: -8px -86px;
      }

      .grid4 {
        background: url('../img/games.jpg') no-repeat center;
        background-position: -9px -148px;
      }

      .grid5 {
        background: url('../img/culture.jpg') no-repeat center;
        background-position: 0px -51px;
      }

      .grid6 {
        background: url('../img/relax.jpg') no-repeat center;
        background-position: -9px -30px;
      }

      .grid7 {
        background: url('../img/travelling.jpg') no-repeat center;
        background-position: -9px -69px;
      }
    }

    .search {
      margin: 28px auto;
      height: 204px;


      h2 {
        margin-top: 6px;
        font-family: 'Roboto';
        font-size: 18px;
        text-align: center;
      }

      input[type='text'] {
        box-sizing: border-box;
        padding-left: 14px;
        height: 40px;
        margin: 15px 19px 12px;
        width: 280px;
        border: 1px solid #9ba1a3;
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 400;
        vertical-align: middle;
        border-radius: 3px 3px;
      }

      .search_button {
        display: block;
        margin: 0 auto;
        height: 40px;
        width: 280px;
        background: #fe4e50;
        color: #f8ffff;
        font-family: 'Montserrat-bold';
        font-size: 14px;
        border: none;
        border-radius: 20px 20px;
      }

      .search_button:focus,
      .search_button:active,
      .search_button:hover {
        outline: none;
        background: #d96769;
        cursor: pointer;
      }
  }

  .footer {
    height: 192px;
    width: 320px;
    border-top: 4px solid #ff4e50;
    text-align: center;

    h2 {
      font-size: 17px;
      font-family: 'Montserrat-bold';
      height: 46px;
      line-height: 50px;
      color: #ff4e50;
    }

    h3 {
      font-size: 14px;
      font-family: 'Montserrat-bold';
    }

    .sitemap {
      height: 18px;
      margin: 0 53px 12px;

      .sitemap_list {
        margin: 0 auto;
        display: block;
        list-style-type: none;

        li {
        display: block;
        float: left;
        margin: 0 10px 0;

          a {
            text-decoration: none;
            color: #666;
            font-family: 'Roboto';
            font-size: 12px;
          }
        }
      }
    }

    h4 {
      font-size: 10px;
      font-family: 'Montserrat-bold';
      letter-spacing: 1px;
      color: #666;
      margin: 13px auto 9px;
    }

    .logo {
      margin: 0 auto;
      height: 24px;
      width: 112px;
      background: url('../img/areto.png') no-repeat center;
    }
  }
}}
}

@media (min-width: 321px) and (max-width: 768px) {

}

@media (min-width: 769px) {

}
