//переменные:

$button-color: #fe4e50;
$button-used: linear-gradient(to top, #f9dbdb, #c21416);
$font-headers-bold: 'Montserrat-bold';
$font-headers: 'Montserrat-regular';
$font-stack: 'Roboto';
$main-color: #fff;
